# Python virtual environment
venv/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Python cache files
__pycache__/
*.py[cod]
*$py.class

dump.py

__pycache__/api_key.cpython-312.pyc

temp.py

test.py

api_key.py
db_key.py
